* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#pantallas, #colores {
    display: flex;
    justify-content: center;
}

#boton {
    margin-top: 20px;
    justify-items: center;
}

.pantalla {
    background-color: gray;
    width: 650px;
    height: 550px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;
}

.color {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.morado {
    background-color: purple;
}

.rosa {
    background-color: pink;
}

.naranja {
    background-color: orange;
}

.marron {
    background-color: brown;
}

#empezar {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: antiquewhite;
}

#empezar:hover {
    background-color: aliceblue;
}
