* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100px;
}

#titulo {
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    text-decoration: underline;
}

#divtitulo {
    width: 76%;
    justify-content: center;
    position: absolute;
    top: 0px;
}

#divrecord {
    width: 95px;
    display: flex;
    border-style: solid;
    border-color: black;
    padding: 4px;
    border-width: 2px;
    position: absolute;
    left: 10px;
}

#divnumeroclicks {
    width: 12%;
}

#textorecord {
    margin-right: 5px;
}

main {
    justify-items: center;
}

#pantallas, #colores {
    width: 100%;
    display: flex;
    justify-content: center;
}

#boton {
    margin-top: 20px;
    justify-items: center;
}

#pantalla {
    background-color: gray;
    width: 680px;
    height: 550px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;

    font-size: 80px;
    font-weight: 1000;
    text-align: center;
    align-content: center;
}

.color {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.morado {
    background-color: purple;
}

.rosa {
    background-color: pink;
}

.naranja {
    background-color: orange;
}

.marron {
    background-color: rgb(165, 91, 42);
}

#empezar {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: antiquewhite;
}

#empezar:hover {
    background-color: aliceblue;
}

@media screen and (max-width: 430px) {
    #pantalla {
        margin-top: -10px;
        max-width: 320px;
        width: 100%;
        height: 170px;
        font-size: 50px;
    }

    header {
        height: 160px;
    }
    
    .color {
        max-width: 90px;
        width: 100%;
        height: 90px;
    }
    
    #colores {
        margin-top: 5px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1px;
    }
    
    #titulo {
        margin-top: 40px;
    }
    
    #empezar {
        margin-top: 40px;
    }
}
